<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Demo</title>
    {% block head %}
    {% endblock %}
</head>

{% block body %}
Template default
{% endblock %}

</html>