{% extends "_semantic_layout.html" %}
{% block content %}

<p>Yo!</p>

<!-- <div class="ui attached stackable menu"> -->

<div class="ui fixed inverted main menu left">
    <div class="ui container">
        <a class="launch icon item">
            <i class="content icon"></i>
        </a>
        <a class="item">
            <i class="home icon"></i> Home
        </a>
        <a class="item">
            <i class="grid layout icon"></i> Browse
        </a>
        <a class="item">
            <i class="mail icon"></i> Messages
        </a>
        <div class="ui simple dropdown item">
            More
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item"><i class="edit icon"></i> Edit Profile</a>
                <a class="item"><i class="globe icon"></i> Choose Language</a>
                <a class="item"><i class="settings icon"></i> Account Settings</a>
            </div>
        </div>
        <div class="right item">
            <div class="ui input"><input type="text" placeholder="Search..."></div>
        </div>
    </div>
</div>

<div class="ui raised very padded text container segment">
    <h1 class="ui header">Hi!</h1>
    <p>This is the first page.</p>
    <p>Auto-reload works in debug mode. Just refresh the page after updating the HTML template.</p>
    <p>The app will also auto-compile on Python code changes.</p>
    <p>
        <a href="/hello2">Second page</a>
    </p>
</div>

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Input Examples</h2>
    <p>blah blah</p>
    <div>
        <form method="POST">
            <div class="ui fluid action input">
                <input name="test_entry" type="text" placeholder="Search...">
                <button class="ui button">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- <script src="/javascript/sidebar.js"></script> -->
{% endblock %}